<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.dbs.analyzer.Transformer"></listener>
</listeners>
  <test  name="LoginTest">
  <parameter name="Browser" value="Chrome"/>
    <classes>
      <class name="com.dbs.testcase.LoginTest"/>
    </classes>
  </test> <!-- LoginTest -->
</suite> <!-- Suite -->
