<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="LoginTest">
  <parameter name="Chrome" value="Chrome"/>
    <classes>
      <class name="com.dbs.testcase.LoginTest"/>
    </classes>
  </test> <!-- LoginTest -->
</suite> <!-- Suite -->
